.App {
  text-align: center;
}

.App header {
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem;
  font-size: 2rem;
}

button{
  padding: .6rem 1.3rem;
  background-color: #c11;
  border: 1px solid #c61;
  border-radius: 4px;
}